.vs/
.stfolder/
.stignore
**.log
**.log.1
_ready_cas_dev_build_patch/
CasualtiesUnknownDemo/
build_release.bat
scripts/AssetRipper/
scripts/USSR/
scripts/clumsy-0.3-win64-a/
convert_to_debug_build.bat
create_prerelease_test_build.bat
git_repo/
screenshots/
wrong version breah/
version_history/
CasualtiesUnknownDemo_*
versions.lnk
CU_Fullgame/*
CU_Demo/*
CUDecomp_Fullgame/*
CUDecomp_Demo/*
libs/
randomassscreenshots/
KrokoshaCasualtiesMPCheats*
log_collection/
release/
LiteNetLib/obj/
LiteNetLib/bin/
BUG_REPORTER/REPORTS/
BUG_REPORTER/
MyApp/obj/
**.7z
build/*
logs/
ScavPrototypeMP/Fullgame/*
